<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Preload-->
    <link rel="preload" href="/styles/normalize.css" as="style">
    <link rel="stylesheet" href="/styles/normalize.css">

    <link rel="preload" href="/styles/style.css" as="style">
    <link rel="stylesheet" href="/styles/style.css">

   

    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta name="descrption" content="CapitalMind">

    <title>CapitalMind</title>
</head>



<body>

    <!--Header -->
    <header class="principal_header">
        <nav class="principal_nav">
            <h1 class="logo">
                <img src="/pics/capitalOneLogo.jpg" alt="CapitalMindLogo" class="logo_icon">
            </h1>
            <a href="index.html" class="link">Home</a>
            <a href="#" class="link">Services</a>
            <a href="#" class="link">Contact</a>
            <a href="logIn.html" class="link">Log In</a>
        </nav>
    </header>


    <!--Hero-->
    <section class="hero">
        <h2>Empower your financial mind with artificial intelligence</h2>
        <p>CapitaMind combines personalized advisory and smart learning to help you make safer, smarter investment decisions.</p>
        <a href="#" class="btn-primary">Get Started</a>
    </section>


    <!--Features-->
    <div class="features_container">

        <section id="features" class="features">
    
            <div class="feature">
                <h3>Personalized Advisory</h3>
                <p>Receive tailored investment strategies based on your financial profile and goals with our IA Finacial Model</p>
            </div>
    
            <div class="feature">
                <h3>Interactive Learning</h3>
                <p>Strengthen your financial knowledge through dynamic modules with adaptive intelligence.</p>
            </div>
    
            <div class="feature">
                <h3>App Integration</h3>
                <p>Sync your account with our mobile app to track your progress and receive real-time insights.</p>
            </div>
        </section>

    </div>
    

    <footer id="contact">
        <h2>Ready to boost your financial future?</h2>
        <p>Contact us at <b>contact@capitamind.com</b></p>
        <p>© 2025 CapitaMind x Capital One. All rights reserved.</p>
    </footer>

    <script src="/js/main.js"></script>
   
</body>



</html>

